<div>
    <h2>
        <span jhiTranslate="easycountApp.currency.home.title">Currencies</span>
        <button class="btn btn-primary float-right create-currency" [routerLink]="['/', { outlets: { popup: ['currency-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="easycountApp.currency.home.createLabel">
            Create new Currency
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="currencies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="label"><span jhiTranslate="easycountApp.currency.label">Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="easycountApp.currency.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="symbol"><span jhiTranslate="easycountApp.currency.symbol">Symbol</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="decimals"><span jhiTranslate="easycountApp.currency.decimals">Decimals</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let currency of currencies ;trackBy: trackId">
                <td><a [routerLink]="['../currency', currency.id ]">{{currency.id}}</a></td>
                <td>{{currency.label}}</td>
                <td>{{currency.code}}</td>
                <td>{{currency.symbol}}</td>
                <td>{{currency.decimals}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../currency', currency.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'currency/'+ currency.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'currency/'+ currency.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="currencies && currencies.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
