

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCurrencyLabel" jhiTranslate="easycountApp.currency.home.createOrEditLabel">Create or edit a Currency</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!currency.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="currency.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.currency.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="currency.label"
            required />
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.currency.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="currency.code"
            required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.currency.symbol" for="field_symbol">Symbol</label>
            <input type="text" class="form-control" name="symbol" id="field_symbol"
                [(ngModel)]="currency.symbol"
            required />
            <div [hidden]="!(editForm.controls.symbol?.dirty && editForm.controls.symbol?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.symbol?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.currency.decimals" for="field_decimals">Decimals</label>
            <input type="number" class="form-control" name="decimals" id="field_decimals"
                [(ngModel)]="currency.decimals"
            required />
            <div [hidden]="!(editForm.controls.decimals?.dirty && editForm.controls.decimals?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.decimals?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.decimals?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
