
<div *ngIf="bankAccount">
    <h2>{{bankAccount.bankLabel}} - {{bankAccount.label}}

        <button class="btn btn-primary float-right create-line"
                style="margin-left: 10px;" *jhiHasAnyAuthority="ROLE_ADMIN"
                (click)="reindex()"
                replaceUrl="false">
            <span class="fa fa-refresh"></span>
            </span>
        </button>
        <button class="btn btn-primary float-right create-line"
                style="margin-left: 10px;"
                [routerLink]="['/', { outlets: { popup: 'line-new/'+ bankAccountId } }]"
                replaceUrl="false">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="easycountApp.line.home.createLabel">
            Create new Line
            </span>
        </button>
        <button class="btn btn-primary float-right create-line"
                [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccountId + '/import-lines' } }]"
                replaceUrl="false">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="easycountApp.bankAccount.home.importLines">
            Import...
            </span>
        </button>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <div class="col-md-2">
            <dt><span jhiTranslate="easycountApp.bankAccount.label">Label</span></dt>
            <dd>
                <span>{{bankAccount.label}}</span>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.number">Number</span></dt>
            <dd>
                <span>{{bankAccount.number}}</span>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.type">Type</span></dt>
            <dd>
                <span jhiTranslate="{{'easycountApp.BankAccountType.' + bankAccount.type}}">{{bankAccount.type}}</span>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.bank">Bank</span></dt>
            <dd>
                <div *ngIf="bankAccount.bankId">
                    <a [routerLink]="['/bank', bankAccount.bankId]">{{bankAccount.bankLabel}}</a>
                </div>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.currency">Currency</span></dt>
            <dd>
                <div *ngIf="bankAccount.currencyId">
                    <a [routerLink]="['/currency', bankAccount.currencyId]">{{bankAccount.currencyLabel}}</a>
                </div>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.balance">Balance</span></dt>
            <dd>
                <span>{{bankAccount.balance | currencyFormat :currency.symbol:currency.decimals:' ':'.':3}}</span>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.balanceTicked">Balance Ticked</span></dt>
            <dd>
                <span>{{bankAccount.balanceTicked | currencyFormat :currency.symbol:currency.decimals:' ':'.':3}}</span>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.balanceEom">BalanceEom</span></dt>
            <dd>
                <span>{{bankAccount.balanceEom | currencyFormat :currency.symbol:currency.decimals:' ':'.':3}}</span>
            </dd>
            <dt><span jhiTranslate="easycountApp.bankAccount.balanceEomP1">BalanceEomP1</span></dt>
            <dd>
                <span>{{bankAccount.balanceEomP1 | currencyFormat :currency.symbol:currency.decimals:' ':'.':3}}</span>
            </dd>

        </div>
        <div class="col-md-10">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'easycountApp.line.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                    <button class="input-group-addon btn secondary" (click)="showHelpToggle()">
                        <span class="fa fa-question"></span>
                    </button>
                </div>
            </form>
            <div *ngIf="showHelp">
                <br/>
                <div class="alert alert-info" role="alert">
                    &bull; <strong><em>date:[2017-02-26 TO 2017-02-28] AND categories.label:courses</em></strong> search for lines between two dates and with a specific label.<br/>
                    &bull; <strong><em>debit:[180000 TO *]</em></strong> debit gte 180 000.<br/>
                    &bull; <strong><em>createDate:&#123;* TO 2017-01-01&#125;</em></strong> creation date strictly gt 2017-01-01.<br/>
                    &bull; <strong><em>debit:[25000 TO *] AND date:[2017-03-06 TO *]</em></strong> debit gte 25 000 and date gte 2017-03-06.<br/>
                </div>
                <br/>
            </div>
            <div class="table-responsive" *ngIf="lines">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                        [callback]="transition.bind(this)">
                        <th jhiSortBy="date"><span
                            jhiTranslate="easycountApp.line.date">Date</span> <span
                            class="fa fa-sort"></span></th>
                        <th jhiSortBy="label"><span
                            jhiTranslate="easycountApp.line.label">Label</span> <span
                            class="fa fa-sort"></span></th>
                        <th jhiSortBy="debit"><span
                            jhiTranslate="easycountApp.line.debit">Debit</span> <span
                            class="fa fa-sort"></span></th>
                        <th jhiSortBy="credit"><span
                            jhiTranslate="easycountApp.line.credit">Credit</span> <span
                            class="fa fa-sort"></span></th>
                        <th>
                            <span jhiTranslate="easycountApp.line.status">Status</span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let line of lines ;let i = index; trackBy: trackId" (click)="setClickedRow(line)"
                        [class.active]="line == selectedLine">
                        <td>{{line.date | date:'mediumDate'}}</td>
                        <td>{{line.label}}</td>
                        <td class="text-right">{{line.debit | currencyFormat :'':currency.decimals:' ':'.':3}}</td>
                        <td class="text-right">{{line.credit | currencyFormat :'':currency.decimals:' ':'.':3}}</td>
                        <td>
                            <a (click)="tickLine(line)" *ngIf="line.status !== 'CANCELLED'">
                                <i class="fa fa-check" [style.color]="getColorOfStatusTicked(line.status, i)">
                                </i>
                            </a>
                            <a (click)="cancelLine(line)" *ngIf="line.status !== 'TICKED'">
                                <i class="fa fa-ban" [style.color]="getColorOfStatusCancelled(line.status, i)"></i>
                            </a>
                        </td>
                        <td>
                            <i class="fa fa-cog" ngbTooltip="line.source" *ngIf="line.source === 'GENERATED'"></i>
                        </td>
                        <td class="text-xs-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'line/'+ line.id + '/edit'} }]"
                                        replaceUrl="false"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'line/'+ line.id + '/delete'} }]"
                                        replaceUrl="false" class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span> <span
                                    class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center" *ngIf="lines && lines.length">
                <jhi-item-count [page]="page" [total]="queryCount"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center" *ngIf="lines && lines.length">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                                (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bank-account/'+ bankAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
