

<form name="uploadLinesForm" role="form" novalidate #uploadLinesForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBankAccountLabel" jhiTranslate="easycountApp.bankAccount.home.importLines">Import lines to Bank Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label jhiTranslate="easycountApp.lineTemplate.asOfDate" for="field_date">Date</label>
            <div>
                <div class="input-group">
                    <input autofocus id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="date"
                           required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="dateDp.open()"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
                <div [hidden]="!(uploadLinesForm.controls.date?.dirty && uploadLinesForm.controls.date?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!uploadLinesForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" (click)="generate()">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Generate</span>
        </button>
    </div>
</form>
