<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLineTemplateLabel" jhiTranslate="easycountApp.lineTemplate.home.createOrEditLabel">Create or edit a Line Template</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label" jhiTranslate="easycountApp.lineTemplate.label" for="field_label">Label</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="label" id="field_label"
                       [(ngModel)]="lineTemplate.label"
                       required />
                <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.bankAccount" for="field_bankAccount">Bank Account</label>
            <div class="col-sm-4">
                <select class="form-control" id="field_bankAccount" name="bankAccount" [(ngModel)]="lineTemplate.bankAccountId">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.bankLabel}} - {{bankAccountOption.label}}</option>
                </select>
            </div>

            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.startDate" for="field_startDate">Start Date</label>
            <div class="input-group col-sm-4">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="lineTemplate.startDate"
                       required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.debit" for="field_debit">Debit</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="debit" id="field_debit"
                   [(ngModel)]="lineTemplate.debit"
                />
            </div>

            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.credit" for="field_credit">Credit</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="credit" id="field_credit"
                   [(ngModel)]="lineTemplate.credit"
                />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.dayOfMonth" for="field_dayOfMonth">Day Of Month</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="dayOfMonth" id="field_dayOfMonth"
                   [(ngModel)]="lineTemplate.dayOfMonth"
                />
            </div>

            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.active" for="field_active">Active</label>
            <div class="col-sm-4">
                <input type="checkbox" class="form-control text-left" name="active" id="field_active"
                   [(ngModel)]="lineTemplate.active"
                />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.frequency" for="field_frequency">Frequency</label>
            <div class="col-sm-4">
                <select class="form-control" name="frequency" [(ngModel)]="lineTemplate.frequency" id="field_frequency"  required>
                    <option value="MONTHLY" jhiTranslate="easycountApp.TemplateFrequency.MONTHLY">MONTHLY</option>
                    <option value="BI_MONTHLY" jhiTranslate="easycountApp.TemplateFrequency.BI_MONTHLY">BI_MONTHLY</option>
                    <option value="QUARTERLY" jhiTranslate="easycountApp.TemplateFrequency.QUARTERLY">QUARTERLY</option>
                    <option value="YEARLY" jhiTranslate="easycountApp.TemplateFrequency.YEARLY">YEARLY</option>
                </select>
                <div [hidden]="!(editForm.controls.frequency?.dirty && editForm.controls.frequency?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.frequency?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.occurrences" for="field_occurrences">Occurrences</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" name="occurrences" id="field_occurrences"
                   [(ngModel)]="lineTemplate.occurrences"
                />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" jhiTranslate="easycountApp.lineTemplate.categories" for="field_categories">Categories</label>
            <div class="col-sm-10">
                <ss-multiselect-dropdown
                    id="field_categories"
                    name="categories"
                    [texts]="categoriesTexts"
                    [settings]="categoriesSettings"
                    [options]="categoriesOptions"
                    [(ngModel)]="selectedCategories"
                    (ngModelChange)="onChange($event)">
                </ss-multiselect-dropdown>
            </div>

        </div>

        <input type="hidden" class="form-control" id="id" name="id"
               [(ngModel)]="lineTemplate.id" readonly />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
