

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLineLabel" jhiTranslate="easycountApp.line.home.createOrEditLabel">Create or edit a Line</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!line.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="line.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="line.date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="line.label"
            required />
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.debit" for="field_debit">Debit</label>
            <input type="number" class="form-control" name="debit" id="field_debit"
                [(ngModel)]="line.debit"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.credit" for="field_credit">Credit</label>
            <input type="number" class="form-control" name="credit" id="field_credit"
                [(ngModel)]="line.credit"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.balance" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                [(ngModel)]="line.balance"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="line.status" id="field_status"  required>
                <option value="NEW" jhiTranslate="easycountApp.LineStatus.NEW">NEW</option>
                <option value="TICKED" jhiTranslate="easycountApp.LineStatus.TICKED">TICKED</option>
                <option value="CANCELLED" jhiTranslate="easycountApp.LineStatus.CANCELLED">CANCELLED</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.source" for="field_source">Source</label>
            <select class="form-control" name="source" [(ngModel)]="line.source" id="field_source" >
                <option value="MANUAL" jhiTranslate="easycountApp.LineSource.MANUAL">MANUAL</option>
                <option value="GENERATED" jhiTranslate="easycountApp.LineSource.GENERATED">GENERATED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="easycountApp.line.createDate" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="line.createDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createDate?.dirty && editForm.controls.createDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="easycountApp.line.categories" for="field_categories">Categories</label>
            <select class="form-control" id="field_categories" multiple name="categories" [(ngModel)]="line.categories">
                <option [ngValue]="getSelected(line.categories, categoryOption)" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="easycountApp.line.bankAccount" for="field_bankAccount">Bank Account</label>
            <select class="form-control" id="field_bankAccount" name="bankAccount" [(ngModel)]="line.bankAccountId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="easycountApp.line.template" for="field_template">Template</label>
            <select class="form-control" id="field_template" name="template" [(ngModel)]="line.templateId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="lineTemplateOption.id" *ngFor="let lineTemplateOption of linetemplates; trackBy: trackLineTemplateById">{{lineTemplateOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
