<td>
    <span [hidden]="isEditing">{{line.date | date:'mediumDate'}}</span>
    <div class="form-group" [hidden]="!isEditing">
        <div class="input-group">
            <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker"
                   [(ngModel)]="line.date"
                   required/>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.open()"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
</td>
<td>
    <span [hidden]="isEditing">{{line.label}}</span>
    <input [hidden]="!isEditing"
           type="text" class="form-control" name="label" id="field_label"
           [(ngModel)]="line.label"
           required />
</td>
<td>
    <span [hidden]="isEditing">{{line.debit}}</span>
    <input [hidden]="!isEditing"
           type="number" class="form-control" name="debit" id="field_debit"
           [(ngModel)]="line.debit" />
</td>
<td>
    <span [hidden]="isEditing">{{line.credit}}</span>
    <input [hidden]="!isEditing"
           type="number" class="form-control" name="credit" id="field_credit"
           [(ngModel)]="line.credit" />
</td>
<td jhiTranslate="{{'easycountApp.LineStatus.' + line.status}}">
    <span [hidden]="isEditing">{{line.status}}</span>
</td>
<td jhiTranslate="{{'easycountApp.LineSource.' + line.source}}">
    <span>{{line.source}}</span>
</td>
<td class="text-xs-right">
    <div class="btn-group flex-btn-group-container">
        <button [hidden]="isEditing"
                type="submit" (click)="toggleEdit()"
                class="btn btn-primary btn-sm">
            <span class="fa fa-pencil"></span>
            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button [hidden]="!isEditing"
                type="submit" (click)="cancel()"
                class="btn btn-secondary btn-sm">
            <span class="fa fa-pencil"></span>
            <span class="hidden-md-down" jhiTranslate="entity.action.clear">Clear</span>
        </button>
        <button [hidden]="!isEditing"
                type="submit" (click)="save()"
                class="btn btn-primary btn-sm">
            <span class="fa fa-pencil"></span>
            <span class="hidden-md-down" jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'line/'+ line.id + '/delete'} }]"
                replaceUrl="true" class="btn btn-danger btn-sm">
            <span class="fa fa-remove"></span> <span
            class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</td>
